@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
  }

:root{
	--primary: rgb(255, 255, 255, 0.618);
	--secondary: rgba(255, 255, 255, 0.618);
}

body{
	background: linear-gradient(135deg, var(--primary), var(--secondary)), url(images/background2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

html{
  width: 100%;
  height: 100%;
  background-image: url("image 17.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: flex-end;
 
  
}

li{
  list-style: none;
}
.header{
	background-position: center;
	background-size: cover;
	position: relative;
  background-color: #6B958E;
  height: 90px;
  width: 100%;
  display: flex;
  padding: 2% 8%;
  justify-content: space-between;
  align-items: center;
  
}
.header ul li{
margin-left: 2px;
text-decoration: none;
padding: 6px 15px;
color: #fff;
border-radius: 20px;

}

.nama{
  font-size: 34px;
  margin: 20px;
  margin-left: -5%;
  float: left;
  font-weight: bolder;
}
.menu-list{
  flex: 1;
  text-align: right;
}
.menu-list ul{
margin-right: -88px;
margin-bottom: 16px;
}
.menu-list li{
list-style: none;
display: inline-block;
padding: 1px 5px 1px 1px;
margin-left: 20px;
margin-top: 17px;
position: relative;
font-size: 16px;

}
.menu-list ul li:hover{
  background: rgba(0, 0, 0, 0.61);
  color: white;
  font-weight: 700;
  

}
.menu-list li a{
margin-left: 2px;
text-decoration: none;
padding: 6px 15px;
color: #fff;
border-radius: 20px;
  }

.menu-list li :active{
  color: white;
  font-weight: 700;
  font-size: 24;
      }
  
  /* Full-width inputs */
  .container1 input[type=text]  {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #c4c4c4e5;
    box-sizing: border-box;
    
    font-weight: 600;
    border-radius: 20px;
  }
  input[type=password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #c4c4c4e5;
    box-sizing: border-box;
    
    font-weight: 600;
    border-radius: 20px;
  }
  
  /* Set a style for all buttons */
  .container1 button {
    background-color: #6B958E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    
    display: inline-block;
    text-decoration: none;
    
  }

  .daftar button {
    background-color: #6B958E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    
    display: inline-block;
    text-decoration: none;
    
  }
.daftar{
  margin:auto;
  display:block;
  text-align: center;
 
}
  
  
  .container1 button:hover {
    opacity: 0.8;
  }
  
  
  
  .container {
    padding: 16px;
    
  }
  #profil{
    height: 80px;
    width: 115px;
	position: absolute;
	margin-left: -49%;
	margin-top: -15%;
}

#logo{
	margin-left: 8%;
	margin-top: 2.5px;
}

.footer-container {
	background-color: #6B958E;
	padding-bottom: 4rem;
	box-sizing: border-box;
	border-top-left-radius: 85px;
	border-top-right-radius: 85px;
}

.footer {
	width: 80%;
	height: 41.5vh;
	background-color: #6B958E;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}

.footer-heading {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	margin-right: 5rem;
}

.footer-saran-form h2{
	margin-bottom: 40%;
}

.footer-heading h2{
	margin-bottom: 2%;
}

.footer-heading a{
	margin-top: -1%;
	margin-bottom: 3%;
	color: #ffffff;
	text-decoration: none;
	text-align: left;
}

.footer-heading i{
	margin-top: -1%;
}

.footer-heading a:hover {
	color: #2d3d3d;
	transition: 0.3s ease-out;
}

#footer-saran{
	width: 1000px;
	height: 100px;
	border-radius: 4px;
	outline: none;
	border: none;
	margin-bottom: 1%;
	margin-top: -0.5%;
}
.footer-heading .social-links{
	margin-top: 25%;
	margin-bottom: 5%;
}

.footer-heading .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-heading .social-links a:hover{
	color: #2d3d3d;
	background-color: #ffffff;
}