* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: url(assets/bg3.png);
  background-size: cover;
}

body img .backtext {
  margin-left: 450px;
}

header {
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  background-color: #6b958e;
}

header .img {
  height: 60px;
  width: 60px;
  margin-top: 4%;
  margin-left: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}

header #profil {
  height: 80px;
  width: 115px;
  position: absolute;
  margin-left: -48%;
  margin-top: -15%;
}

header .logo {
  color: black;
  opacity: 60%;
  font-weight: 900;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 70px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header nav :hover {
  background: rgba(0, 0, 0, 0.61);
  color: white;
  font-weight: 700;
  font-size: 24;
}
header nav a.active {
  color: white;
  font-weight: 700;
  font-size: 24;
}

middle {
  flex: 1 1 10rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 280px;
  left: 60px;
  align-items: center;
  justify-content: space-between;
}

middle ul {
  text-decoration: none;
  list-style: none;
}
middle ul li {
  text-decoration: none;
}
middle ul li a {
  text-decoration: none;
}
middle ul li a div {
  text-decoration: none;
  margin-left: 650px;
  margin-top: -120px;
}

middle .logo {
  color: #000;
  font-weight: 700;
  font-size: 75px;
  text-decoration: none;
}

middle .identity {
  color: #000;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
}

footer {
  top: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

footer h4 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 500;
}

footer p {
  text-align: center;
}

footer .icons .fab {
  size: 100;
  color: #312156;
  margin: 0 10px;
  cursor: pointer;
  padding: 15px 0;
}
